// ----------------
// ----- LIBS -----
// ----------------

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import '../css/font-awesome.min.css';

// -----------------
// ----- FONTS -----
// -----------------

@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400');

// -----------------------
// ----- BREAKPOINTS -----
// -----------------------

@import 'libs/skel';

@include skel-breakpoints(
  (
    xlarge: '(max-width: 1800px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)'
  )
);

@include skel-layout(
  (
    reset: 'full',
    boxModel: 'border',
    grid: (
      gutters: 2.5em
    ),
    conditionals: true,
    containers: true,
    breakpoints: (
      large: (
        grid: (
          gutters: 2em
        )
      ),
      small: (
        grid: (
          gutters: 1.5em
        )
      )
    )
  )
);

// ----------------
// ----- BASE -----
// ----------------

@import 'base/base-dir';

// ----------------------
// ----- COMPONENTS -----
// ----------------------

@import 'components/components-dir';

// ------------------
// ----- LAYOUT -----
// ------------------

@import 'layout/layout-dir';

// -------------------------
// ----- MEDIA QUERIES -----
// -------------------------

@import 'mediaQueries/mediaQueries-dir';
