// ----------------------------
// ----- MAX-WIDTH: 980px -----
// ----------------------------

@include breakpoint(medium) {
  $size-header-pad: 4em;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		br {
			display: none;
		}
	}

	ul {
		&.icons {
			li {
				.icon {
					font-size: 1.25em;
				}
			}
		}
	}

	#header {
		background-attachment:	scroll;
		background-position:	top left,	center center;
		background-size:	auto,	cover;
		left: auto;
		padding: ($size-header-pad * 1.5) $size-header-pad;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
		display: block;

		h1 {
			font-size: 1.75em;

			br {
				display: inline;
			}
		}
	}

	#footer {
		bottom: auto;
		left: auto;
		padding: $size-header-pad $size-header-pad ($size-header-pad * 1.5) $size-header-pad;
		position: relative;
		text-align: center;
		width: 100%;

		.icons {
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		.copyright {
			margin: 0 0 (_size(element-margin) * 0.5) 0;

			li {
				border-left-width: 1px;
				display: inline-block;
				line-height: 1em;
				margin-left: 0.75em;
				padding-left: 0.75em;
			}
		}
	}

	.main {
		margin: 0;
		padding: ($size-header-pad * 1.5) $size-header-pad;
		width: 100%;

		.page-title {
			text-align: center;
		}
	}
}