#footer {
  .icons {
    margin: (_size(element-margin) * 0.5) 0 0 0;

    a {
      color: _palette(accent2, fg-light);
    }
  }

  .copyright {
    color: _palette(accent2, fg-light);
    font-size: 0.8em;
    list-style: none;
    margin: (_size(element-margin) * 0.5) 0 0 0;
    padding: 0;

    li {
      border-left: 1px solid _palette(accent2, border);
      display: inline-block;
      line-height: 1em;
      margin-left: 0.75em;
      padding-left: 0.75em;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        color: inherit;
      }
    }
  }
}